<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条件渲染</title>
    <script src="./vue.js"></script>
</head>

<body>
    <!-- v-ifćäť¤ďźĺŞćĺ¨ĺźčĄ¨čžžĺźä¸şçćśďźćäźć¸˛ćĺąç¤şčŻĽĺç´  -->
    <div id="toggle">
        <h1 v-if="awesome">Vue is awesome!</h1>
        <!-- ä˝żç¨v-elsećˇťĺ ä¸ä¸Şelseĺ -->
        <h1 v-else>oh, nođ</h1>
        <!-- ćłčŚĺćśĺć˘ć¸˛ćĺ¤ä¸Şĺç´ ďźä˝ĺä¸ćłĺĺŤćäť¤ćĺ¨çć šĺç´ ďźä˝żç¨<template> -->
        <template v-if="multiToggle">
            <h1>tittle</h1>
            <p>paragraph 1</p>
            <p>paragraph 2</p>
        </template>

        <div v-if="nowRandom > 0.7">
            éćşć°ĺź>0.7: {{ nowRandom }}
        </div>
        <div v-else-if="nowRandom > 0.5">
            éćşć°ĺź>0.5: {{ nowRandom }}
        </div>
        <!-- v-elseĺç´ ĺżéĄťç´§čˇĺ¨v-ifćv-else-ifĺç´ ĺé˘ďźĺŚĺä¸č˘ŤčŻĺŤ -->
        <div v-else>
            éćşć°ĺź<=0.5: {{ nowRandom }}
        </div>

        <!-- Vueäźĺ°˝ĺŻč˝éŤćć¸˛ćĺç´ ďźĺłćĄäťśćšĺćśäźĺ¤ç¨ĺˇ˛ćĺç´ ďźčä¸äźäťĺ¤´ć¸˛ćďźĺ˝ťĺşć¸é¤ĺćć°ćŽďźć°ĺťşďźďźäžĺŚďźĺć˘çťĺ˝ćšĺźďź
            ä¸¤čĺąĺçć ç­žĺ°äźćç¨ďźčĽć ç­žä¸ĺŻšç§°ďźĺ¤ĺŻšä¸ďźĺ¤ĺŻšĺ¤ç­ďźďźĺĺŞĺ¤ç¨ç­éçć ç­ž -->
        <template v-if="loginType === 'username'">
            <label>Username: </label>
            <input placeholder="Enter your username: ">
        </template>
        <template v-else-if="loginType === 'email'">
            <label>Email: </label>
            <input placeholder="Enter your email: ">
        </template>
        <button v-on:click="toggleLoginType">ĺć˘çťĺ˝ćšĺź</button>
    </div>

    <script>
        var toggleVM = new Vue({
            el: "#toggle",
            data: {
                awesome: "",  
                "multiToggle": true,
                loginType: 'username',
                nowRandom: Math.random()
            },
            methods: {
                toggleLoginType: function () {
                    if (this.loginType === 'username') {
                        this.loginType = 'email';
                        return;
                    }
                    this.loginType = 'username';
                }
            }
        });
    </script>
</body>

</html>